<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styles/home.css" />

    <!-- Monserrat font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <title>Arduino Proyect | Excelencia</title>
  </head>
  <body>
    <div class="main-section">
      <nav class="navbar">
        <h1>Arduino Proyect</h1>

        <div class="nav-links">
          <a href="#">Features</a>
          <a href="#">Solutions</a>
          <a href="#">Developers</a>
          <a href="#">Company</a>
          <a href="#">Pricing</a>
        </div>
      </nav>

      <div class="main-information">
        <div class="left-side">
          <h2>We make working with data easy</h2>
          <p>
            With Outerbase's AI-powered platform, engineers, researchers, and
            analysts alike can work with any database —with safety and security
            guaranteed.
          </p>
          <button class="cta-button">Get started for free</button>
        </div>

        <div class="right-side">
          <img src="../img/home_arduino.png" alt="Arduino_img" class="robot-image" />
        </div>
      </div>

      <div class="div_section-creators">
        <div class="div_creator-bull3t">
          <h2>
            Bull3t
          </h2>
          <span>
            Kevin Amaurys Méndez Rondón
          </span>
        </div>

        <div>
          <div class="div_creator-warhub">
            <h2>
              Warhub
            </h2>
            <span>
              Warling Sebastian Lopez Genao
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
