<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styles/home.css" />

    <!-- Monserrat font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <title>RoboProject | La Exlecencia</title>
  </head>
  <body>
    <div class="main-section">
      <nav class="navbar">
        <h1>RoboProject</h1>
          
        <input type="checkbox" id="input_nav-BtnDelNavResponsive">
        
          <label for="input_nav-BtnDelNavResponsive" class="nav_label-boxMenuResponsive"><img src="../img/svg/left.svg" alt="left-arrown"></label>
        
        
        <div class="nav_list-links">
          
          <a href="#">Home</a>
            <a href="#">Developers</a>
            <a href="#">Information</a>
            <a href="#">Company</a>
            <a href="#">AstroCode</a>
          
        </div>
      </nav>

      <div class="main-information">
        <div class="left-side">
          <h2>Autonomous Robotics for Tasks</h2>
          <p>
            Our robotics project designs an autonomous robot to perform specific
            tasks, combining hardware and software to create a functional
            prototype with real-world applications.
          </p>
          <button class="cta-button">Get started for free</button>
        </div>

        <div class="right-side">
          <img
            src="../img/home_arduino.png"
            alt="Arduino_img"
            class="robot-image"
          />
        </div>
      </div>

      <h2 class="h2_creators-title">Software Developers</h2>

      <div class="div_section-creators">
        <div class="div_creator-bull3t">
          <h2>&lt;/Bull3t&gt;</h2>
          <span>Kevin A. Méndez</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"I really love what I do."</p>
          <span style="font-weight: bold">Characteristics and skills:</span>
          <ul>
            <li>Front-end Developer with +2 years experience.</li>
            <li>Very communicative developer.</li>
            <li>CEO of AstroCode.</li>
            <li>Fluent english.</li>
            <li>17 years old.</li>
          </ul>
        </div>

        <div class="div_creator-warhub">
          <h2>&lt;/Warhub&gt;</h2>
          <span> Warling S. Lopez</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"I know that I don't know"</p>
          <span style="font-weight: bold">Characteristics and skills:</span>
          <ul>
            <li>Front-end Developer with +3 years experience.</li>
            <li>Very communicative developer.</li>
            <li>Co-CEO of AstroCode.</li>
            <li>Medium english.</li>
            <li>17 years old.</li>
          </ul>
        </div>

        <div class="div_creator-n4zy">
          <h2>&lt;/N4ZY&gt;</h2>
          <span>Renso A. Feliz</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"I will never surrender."</p>
          <span style="font-weight: bold">Characteristics and skills:</span>
          <ul>
            <li>Front-end Developer with 6 months experience.</li>
            <li>Really active developer.</li>
            <li>CEO of AstroCode.</li>
            <li>Medium english.</li>
            <li>16 years old.</li>
          </ul>
        </div>

        <div class="div_creator-k4rm">
          <h2>&lt;/K4rm&gt;</h2>
          <span>Kenyel A. Restituyo</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"The money doesn't give the happiness."</p>
          <span style="font-weight: bold">Characteristics and skills:</span>
          <ul>
            <li>Front-end Developer with +3 years experience.</li>
            <li>Really consistent developer.</li>
            <li>Employee of AstroCode.</li>
            <li>Basic english.</li>
            <li>16 years old.</li>
          </ul>
        </div>
      </div>

      <h2 class="h2_creators-title">Hardware Assemblers</h2>

      <div class="div_section-creators">
        <div class="div_creator-unknow">
          <span>Aslymeel A. Columna</span>
          <span>17 years old.</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"Ta fuerte"</p>
        </div>

        <div class="div_creator-unknow">
          <span>Vivian L. Jimenez</span>
          <span>17 years old.</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"Tu si jode Kevin"</p>
        </div>

        <div class="div_creator-unknow">
          <span>Junior A. Martinez</span>
          <span>17 years old.</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"Te lo vendo"</p>
        </div>

        <div class="div_creator-unknow">
          <span>Eli S. Guzmán</span>
          <span>17 years old.</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"Contexto contexto"</p>
        </div>

        <div class="div_creator-unknow">
          <span>Mariana L. Vargas</span>
          <span>16 years old.</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"Otaku por siempre"</p>
        </div>
      </div>

      <div class="div_section-information">
        <h2>Project information</h2>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
          maxime commodi explicabo ducimus quod quis aspernatur at esse magnam
          enim deleniti porro, praesentium, quas neque sit, quos tempora unde?
          Maiores. Maxime, quae! Tempora odio possimus laboriosam ex quidem.
          Commodi aliquam, quidem odit maxime, nobis sit perspiciatis aspernatur
          consectetur consequuntur hic nihil, sint ea exercitationem nisi sunt
          quo doloremque quod unde! Inventore quasi error doloremque,
          praesentium aliquam, numquam porro illo minima accusamus quaerat
          adipisci, sunt temporibus deleniti cumque! Quae ullam eum maiores,
          optio suscipit sequi rerum, consequatur cum officia consectetur
          debitis.<br><br> Reprehenderit, quas nobis itaque voluptatibus perspiciatis
          beatae ullam tenetur neque distinctio eaque doloremque accusantium,
          quod optio nulla praesentium aliquam rem impedit totam quaerat
          provident ipsum tempore. Natus pariatur perspiciatis excepturi.
          Nostrum iure ea ducimus voluptas vero minus molestias odio dignissimos
          impedit quod, sunt, quos amet harum. <br><br>Reiciendis quis esse beatae a
          possimus error iste, sint ratione, corporis autem, perspiciatis illo?
          Ipsa earum sequi excepturi, corporis natus aut officiis similique
          voluptas dolore, sint exercitationem. Nemo incidunt temporibus
          mollitia dolorum! Assumenda facilis reiciendis aliquam expedita eaque
          deleniti placeat aliquid porro inventore ad? Non explicabo culpa dicta
          similique molestiae exercitationem, vero inventore nesciunt doloribus
          est necessitatibus officiis dolores nihil iure temporibus aliquam
          quasi asperiores eveniet sapiente officia deleniti labore nisi?
          Necessitatibus, laborum perspiciatis.<br><br> Cupiditate, pariatur
          necessitatibus. Amet quis dignissimos maiores quam blanditiis
          molestiae, illum delectus obcaecati impedit! Eius culpa fugit hic
          molestias error inventore, facere doloremque vel, fuga, corporis
          aliquam eos perferendis. Eveniet! Provident, dolorem? Repellendus odio
          recusandae labore ipsam, nobis est veritatis molestias a quaerat
          aspernatur molestiae cupiditate ab magnam atque, accusamus ullam
          accusantium aliquam asperiores nam iure doloremque explicabo! Ipsa,
          dolorum. Impedit veritatis ea asperiores commodi rem, soluta ab,
          itaque repellendus laudantium exercitationem nisi. Voluptates, omnis
          deleniti! Earum, commodi autem laudantium porro quo corporis
          praesentium asperiores voluptates repellat? Non, dolorum rem!
        </p>
      </div>

      <div class="div_section-company_info">
        <h2>¿Who are we?</h2>
        <h3>We are Tecnoexcellen.</h3>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
          voluptatum cum excepturi nulla architecto natus dolores fuga ullam
          dignissimos accusamus! Asperiores quia ipsam ut natus consequuntur
          praesentium quidem magnam pariatur! Eius laboriosam obcaecati sequi
          officiis et nostrum voluptates maiores dolores necessitatibus
          veritatis, expedita, incidunt maxime deserunt.<br><br> Doloribus delectus
          minima aperiam ab fuga molestiae odit, tempore pariatur quae nostrum
          sed atque. Quo, provident? Eligendi quo aperiam dignissimos, minima
          suscipit, consequuntur veritatis est atque voluptas ea porro fugiat
          ullam. Vel totam accusamus corporis eligendi exercitationem deserunt
          repudiandae, voluptatibus esse quia pariatur eaque? Deleniti eaque
          esse facilis quo numquam! Alias tenetur praesentium possimus quo
          perspiciatis ullam recusandae illo nobis accusantium, cum mollitia
          ipsum facilis magni aliquid repellat ad culpa blanditiis
          reprehenderit, error veritatis! Omnis sunt ea aut, maiores, beatae,
          totam magnam suscipit doloribus reiciendis quos debitis! Minus nam
          suscipit quisquam deserunt.<br><br> officiis aliquid exercitationem
          consequuntur qui omnis commodi non debitis consequatur eveniet culpa.
        </p>
      </div>
    </div>

    <footer>
      &copy; 2024 All rights reserved to AstroCode.
      <br />
      For further information or contacting with the company go to:
      AstroCodeCompany@outlook.com
    </footer>

    <script src="../js/scroll.js"></script>
  </body>
</html>
