<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styles/home.css" />

    <!-- Monserrat font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <title>Arduino Proyect | Excelencia</title>
  </head>
  <body>
    <div class="main-section">
      <nav class="navbar">
        <h1>Arduino Proyect</h1>

        <div class="nav-links">
          <a href="#">Home</a>
          <a href="#">Developers</a>
          <a href="#">Information</a>
          <a href="#">Company</a>
        </div>
      </nav>

      <div class="main-information">
        <div class="left-side">
          <h2>Autonomous Robotics for Tasks</h2>
          <p>
            Our robotics project designs an autonomous robot to perform specific
            tasks, combining hardware and software to create a functional
            prototype with real-world applications.
          </p>
          <button class="cta-button">Get started for free</button>
        </div>

        <div class="right-side">
          <img
            src="../img/home_arduino.png"
            alt="Arduino_img"
            class="robot-image"
          />
        </div>
      </div>

      <h2 class="h2_creators-title">Software Developers</h2>

      <div class="div_section-creators">
        <div class="div_creator-bull3t">
          <h2>&lt;/Bull3t&gt;</h2>
          <span>Kevin Amaurys Méndez Rondón </span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"I really love what I do."</p>
          <span style="font-weight: bold">Characteristics and skills:</span>
          <ul>
            <li>Front-end Developer with +2 years experience.</li>
            <li>Very communicative developer.</li>
            <li>CEO of AstroCode.</li>
            <li>Fluent english.</li>
            <li>17 years old.</li>
          </ul>
        </div>

        <div class="div_creator-warhub">
          <h2>&lt;/Warhub&gt;</h2>
          <span> Warling Sebastian Lopez Genao </span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"I know that I don't know"</p>
          <span style="font-weight: bold">Characteristics and skills:</span>
          <ul>
            <li>Front-end Developer with +3 years experience.</li>
            <li>Very communicative developer.</li>
            <li>Co-CEO of AstroCode.</li>
            <li>Avanced english.</li>
            <li>17 years old.</li>
          </ul>
        </div>
      </div>

      <h2 class="h2_creators-title">Hardware Assemblers</h2>

      <div class="div_section-creators">
        <div class="div_creator-unknow">
          <h2>Template</h2>
          <span>Unknow</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"Template"</p>
        </div>

        <div class="div_creator-unknow">
          <h2>Template</h2>
          <span>Unknow</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"Template"</p>
        </div>

        <div class="div_creator-unknow">
          <h2>Template</h2>
          <span>Unknow</span>
          <img
            src="../img/creators-img/creator.jpg"
            alt="creator-img"
            width="200px"
            style="border-radius: 8px"
          />
          <p>"Template"</p>
        </div>
      </div>
    </div>
  </body>
</html>
