html{
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin-left: 15px;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 100px;
}

.main-information {
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 10rem 3rem;
}

.left-side,
.right-side {
  display: flex;
  justify-content: center;
  width: 40%;
}

.left-side {
  flex-direction: column;
}

.navbar .nav_list-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar .nav_list-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.2s;
}

.navbar .nav_list-links a:hover::before {
  width: 100%;
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
}

.left-side h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.content p {
  font-size: 18px;
  margin: 20px 0;
}
.cta-button {
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.cta-button:hover {
  background-color: rgb(213, 213, 213);
}

.div_section-creators {
  display: flex;
  gap: 20px;
  padding: 0 1rem;
  margin: 1rem;
}

.div_section-creators > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 1rem;
  background: rgb(42, 42, 42);
  border-radius: 8px;
}

.div_section-creators > div > ul > li {
  margin: 10px 0;
  text-align: left;
}

.robot-image {
  filter: brightness(1.2);
  filter: blur(0.01);
}

.div_section-creators > div > span {
  margin: 10px;
}

.h2_creators-title {
  text-align: center;
}

.div_section-information,
.div_section-company_info {
  text-align: center;
  padding: 0 1rem;
}

.div_section-information > p,
.div_section-company_info > p {
  padding: 1rem;
  background: rgb(42, 42, 42);
  border-radius: 8px;
}

footer {
  padding: 1rem;
  background: rgb(42, 42, 42);
  text-align: center;
}

@media (max-width: 768px) {
  /*navegacion*/
  .nav_list-links{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    position: fixed;
    right: -400px;
    top: 0;
    background-color: rgb(115, 115, 40);
    width: 70%;
    height: 100vh;
    z-index: 1;
    transition-duration: .5s ;
  }
  .nav_list-links > a{
    top: 200px;
    
  }
  /*esta es la trasicion pricipal del nav*/
  #input_nav-BtnDelNavResponsive{
    display: none;
    
  }#input_nav-BtnDelNavResponsive:checked ~ .nav_list-links{
    right: 0px;
    transition: .5s;
    
  }
  /*esta es la transicion del btn del nav*/
  .nav_label-boxMenuResponsive{
    position:fixed ;
    border-radius: 10px;
    top: 10px;
    right:  -5px;
    margin: 0;
    padding: 10px;
    background-color: rgb(115, 115, 40);
    transition: .2s;
    transform: .5s;
    z-index: 2;
  }#input_nav-BtnDelNavResponsive:checked ~ .nav_label-boxMenuResponsive{
    transform: scaleX(-1);
    padding: 10px 25px;
    right: 250px;
    transition: .5s ease-in-out;
    
  }
  .robot-image {
    top: 50px;
    width: 400px;
    height: 400px;
  }

  .main-container {
    display: flex;
    gap: 100px;
    flex-direction: column;
  }

  .main-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  /*a partir de aqui cree hice que los creadores y colaboradores esten en un carrucel evitando el desborde y que se puedan ver con los margenes correctos*/
  .left-side{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 20px;

  }
  .right-side {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .div_section-creators{
    width: 89%;
    overflow: hidden;
    overflow-x: auto;
  }
  /*en el responsive se veia muy flaco los creadores*/
  .div_creator{
    min-width: 300px;
  }
}