body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.7));
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin-left: 15px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 100px;
}

.main-information {
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 10rem 3rem;
}

.left-side,
.right-side {
  display: flex;
  justify-content: center;
  width: 40%;
}

.left-side {
  flex-direction: column;
}
.navbar .nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  position: relative;
}

.navbar .nav-links a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.2s;
}

.navbar .nav-links a:hover::before {
  width: 100%;
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
}

.left-side h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.content p {
  font-size: 18px;
  margin: 20px 0;
}
.cta-button {
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.cta-button:hover{
  background-color: rgb(213, 213, 213);
}

.div_section-creators {
  display: flex;
  gap: 20px;
  padding: 0 1rem;
  /* background: red; */
}

.div_section-creators > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: rgb(42, 42, 42);
  border-radius: 8px;
}
.robot-image {
  filter: brightness(1.2);
  filter: blur(0.01);
}

.div_section-creators > div > span {
  margin: 10px;
}

@media (max-width: 768px) {
  .nav-links,
  .socials-buttons {
    display: none;
  }

  .robot-image {
    width: 200px;
    height: 200px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .main-information {
    flex-direction: column;
    align-items: center;
  }
}